*
!.gitignore
!.vimrc
!.screenrc
!.cmus/playlist.pl
!.cmus/lib.pl
!.speedswapper
!.bashrc
!.cmus
!.xscreensaver
!.config
!.config/terminator/
!.config/terminator/config
!.config/fish/
!.config/fish/functions
!.config/fish/functions/*
!.vim
!.vim/colors/
!.vim/colors/rangler.vim
!.config/fish/config.fish
!.config/lxsession/
!.config/lxsession/LXDE/
!.config/lxsession/LXDE/desktop.conf
!.config/lxpanel/
!.config/lxpanel/LXDE/
!.config/lxpanel/LXDE/config
!.config/lxpanel/LXDE/panels/
!.config/lxpanel/LXDE/panels/panel
!.i3
!.i3/config
!.i3status.conf
!.config/autostart/
!.config/autostart/*
!.config/pcmanfm/
!.config/pcmanfm/LXDE/
!.config/pcmanfm/LXDE/pcmanfm.conf