*
!.gitignore
!.vimrc
!.screenrc
!.cmus/playlist.pl
!.cmus/lib.pl
!.speedswapper
!.bashrc
!.cmus
!.xscreensaver
!.config
!.config/terminator/
!.config/terminator/config
!.config/fish/
!.config/fish/functions/*