[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=xrandr --output DP2-2 --auto --output eDP1 --mode 1920x1080 --rate 60.00
